* {
    padding: 0;
    margin: 0;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

:lang(bn) {
    font-family: Kalpurush;
}

:lang(en) {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Myriad Pro";
}

#main {
    padding: 10pt 10pt 10pt 15pt;
    width: 545pt;
}

.field-container {
    width: 540pt;
    margin-bottom: 2pt;
}

.field-container > .title {
    font-size: 9pt;
    color: #fff;
}

.field-container > .title > .fg {
    padding-left: 5pt;
}

.field-container > .title > .bg {
    border-bottom: 13pt solid #E8175B;
	border-right: 7pt solid transparent;
	height: 0;
    width: 195pt;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}

.field-container > .content {
    padding: 5pt 5pt 2pt 5pt;
    font-size: 8pt;
    border: 0.8pt solid #E8175B;
    top: -2pt;
}

.field-container > .content span:lang(bn) {
    font-size: 7.5pt;
}

.field-container > .content .field-value > .bg {
    border-top: 0.8pt dotted #BCBEC1;
    width: 98%;
    position: absolute;
    bottom: 2pt;
    right: 10pt;
}

.field-container > .content .field-value > .bg-en {
    bottom: 0pt;
}

.field-container > .content .field-name {
    float: left;
    display: block;
}

.field-container > .content .field-name span.indented::before {
    content: "";
    display: inline-block;
}

#nameEnglishFirst span.indented::before {
    margin-left: 125pt;
}

#nameEnglishLast span.indented::before {
    margin-left: 209pt;
}

.field-container > .content .field-value {
    left: 5pt;
    display: block;
    overflow: hidden;
}

.field-value .fg span:lang(en) {
}

.hint {
    color: #808285;
}

.field-container .field-name .hint {
    display: inline-block;
    left: 10pt;
    top: -2pt;
    font-size: 7pt;
}

ul.num-box-list {
    list-style: none;
    display: inline-block;
}

ul.num-box-list li {
    display: block;
    float: left;
    height: 12pt;
    width: 12pt;
    border: 0.7pt solid #808285;
    border-left: 0;
    text-align: center;
}

ul.num-box-list li.border-left {
    border-left: 0.7pt solid #808285;
}

ul.num-box-list li.indent-left {
    margin-left: 3pt;
    border-left: 0.7pt solid #808285;
}

.field-value .checkbox {
    display: block;
    float: left;
    margin-right: 3pt;
    width: 9pt;
    height: 9pt;
    border: 0.7pt solid #808285;
}

.field-value .checked {
    background: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 9pt 9pt;
}

.field {
    margin-bottom: 3pt;
}

.field .addr-attr .field-value {    
    width: 65pt;
}

.field .addr-attr {
    display: block;
    float: left;
}

.field .addr-attr-container {
    display: block;
    float: right;
    padding: 5pt 0 5pt 0;
}

.field-value .gender-option {
    display: block;
    float: left;
    margin-right: 3pt;
}

#disclaimer {
    font-size: 6pt;
    padding: 5pt;
    margin-top: 4pt;
    color: #808285;
}

#header {
    font-size: 8pt;
    width: 540pt;
    height: 145pt;
}

#header > .left {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#header > .right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#header > .center {
    width: 200pt;
    text-align: center;
    margin: 0 auto 0 auto;
}

#bkash-logo {
    width: 71pt;
    height: 42pt;
    margin-bottom: 8pt;
}

#header .left .date {
    position: absolute;
    top: 130pt;
}

#header .right .avatar {
    margin-top: 10pt;
    text-align: center;
    height: 109pt;
    width: 97pt;
    border: 1pt dotted #808285;
    position: absolute;
    top: 0;
    right: 0;
}

#header .right .avatar .bg {
    margin-top: 40pt;
    display: inline-block;
    z-index: -10;
}

#header .right .field {
    display: inline-table;
    top: 140pt;
}

#header .right .field .field-name, #header .right .field .field-value {
    display: block;
    float: left;
}

#footer {
    margin-top: 4pt;
}

#footer .bar {
    background: #E8175B;
    width: 100%;
    height: 13pt;
    top: -2pt;
    padding-top: 2pt;
}

#footer .bar .inner-bar {
    width: 150pt;
    height: 12pt;
    background: #CA175B;
    display: block;
    margin: auto;
}

#footer .left {
    display: block;
    float: left;
}

#footer .right {
    display: block;
    float: right;
}

#registeringMobileNumber {
    display: inline-table;
    margin-left: 53pt;
}

#footer .nid-box, .signature-box {
    width: 152pt;
    height: 100pt;
    display: block;
    float: left;
    border: 0.5pt solid #808285;
    margin: 10pt;
}

#footer .signature-box {
    height: 119pt;
}

#footer .nid-box .hint {
    display: inline-block;
    position: absolute;
    left: 56pt;
    bottom: 10px;
}